body {
  font-family: 'Oxygen', sans-serif;
  background-color: #fefefe
}

#metrics {
  text-align: center;
  .stat {
    margin-bottom: 4em;
    background-color: #eaf1f1;
    border: 1px solid rgba(0,0,0,0.1);
    h3 {
      margin-top : 5px;
    }
    h4 {
      font-size: 12px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
}

.dyno-progress {
  margin-bottom: 0px
}
